header.header {
            padding: 42px 0 0 0;
            transition: ease-in-out 0.2s;

            &.burger-opened {
                background: rgba(37, 43, 70, 0.9);
            }

            //burger menu
            #nav-lines {
                width: 32px;
                height: 28px;
                position: relative;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .5s ease-in-out;
                -moz-transition: .5s ease-in-out;
                -o-transition: .5s ease-in-out;
                transition: .5s ease-in-out;
                cursor: pointer;
            }
            
            #nav-lines span {
                display: block;
                position: absolute;
                height: 3px;
                width: 100%;
                background: $darkblue;
                // border-radius: 9px;
                margin-left: auto;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;
                z-index: 9999;
            }
            
            #nav-lines span:nth-child(1) {
                top: 0px;
            }
            
            #nav-lines span:nth-child(2),#nav-lines span:nth-child(3) {
                top: 10px;
            }
            
            #nav-lines span:nth-child(4) {
                top: 20px;
            }
            
            #nav-lines.open span:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
            
            #nav-lines.open span:nth-child(2) {
                background: #fff;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            
            #nav-lines.open span:nth-child(3) {
                background: #fff;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            
            #nav-lines.open span:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }

            // end of burger

}

.burger-content {
    background: rgba(37, 43, 70, 0.9);
    padding: 72px 0;
    right: -100%!important;
    position: absolute;
    transition: ease-out .2s;
    z-index: 999;

    &.burger-opened {
        right: 0!important;
        transition: ease-in .1s;
    }

    .menu-item {
        display: block;

        a {
            color: black;
            display: block;
            text-transform: uppercase;
            font-size: 1.857em;
            font-weight: bold;
            padding: 6px 0;
        }

        &:last-of-type {
            a {
                padding-bottom: 0;
            }
        }
    }

    .social-menu {
        margin-top: 32px;

        ul {
            li {
                a {
                    padding: 0 18px;

                    .fa {
                        font-size: 1.857em;
                    }
                }
            }
        }
    }
}